extends portfolio-layout

block content
	div.wrapper.homepage
		div.tesselation
			div.header
				a.logo(href="/") emdeebeebee.com
			nav.navigation
					ul
		
						li
							a.nav-link(href='/#work') Work
						li
							a.nav-link.active(href='/articles') Articles
						li
							a.nav-link(href='/golden_path') Golden path
			div.section.articles

				nav.subnav
					ul
						li
							a.sub-nav-link(href='/articles/2015') 2015
						li
							a.sub-nav-link.active(href='/articles/2014') 2014
						li
							a.sub-nav-link(href='/articles/2013') 2013
						li
							a.sub-nav-link(href='/articles/2012') 2012
						li
							a.sub-nav-link(href='/articles/2011') 2011
		
				h1 Kings Cultural Institute - Culture Hack

				p.article-date 06 Jan 2014

				p 
					|Yesterday I attended my first ever hack event run by 
					|<a href='http://www.kcl.ac.uk/cultural/index.aspx' target="_blank">Kings Cultural Institute</a> 
					|and
					|<a href="http://wearecaper.com/" target="_blank">Caper</a>
					|. I'd responded to a tweet asking for creative technologists to join a culture hack. The other attendees were a mix of Kings academics, technologists and representatives from the cultural sector from the 
					|<a href="http://www.nhm.ac.uk/" target="_blank">Natural History Museum</a>
					|, 
					|<a href="http://coneyhq.org/about-us/" target="_blank">Coney</a>
					|, 
					|<a href="http://www.fueltheatre.com/home" target="_blank">Fuel</a>
					|, 
					|<a href="http://www.wellcome.ac.uk/index.htm" target="_blank">Wellcome</a>
					|, 
					|<a href="http://www.lrb.co.uk/" target="_blank">London review of Books</a>
					|, 
					|<a href="http://www.craftscouncil.org.uk/what-we-do/?region_id=0&year_filter=&list_p=1" target="_blank">Crafts council</a>
					| & 
					|<a href="https://www.bac.org.uk/" target="_blank">Battersea arts centre</a>
					|. I was pretty excited to be invited to rub shoulders with some of these people.

				p The day wasn't what I was expecting having assumed hack meant coding, but it was no less rewarding for being code free. Culture Hack was more about sharing ideas and generating new ideas in a collaborative setting to solve problems faced by the Cultural sector. A group had met previously to decide challenges. The structure of the day was to ascertain which challenges you were interested in addressing and finding like-minded people to collaborate with on solving those challenges. 

				p The first activity was a speed dating style 3 minute chat to a random person which was a great ice breaker and did help you get a cross section of who was in the room, their skill sets and their motivations for attending.

				p The second activity was to find a challenge that a Kings academic wanted to represent and this was less successful. I felt there were too many challenges to begin with and was disappointed to find only 1 out of the 4 I liked had representation. I think perhaps this could have been selected in advance to limit confusion and/or disappointment.  

				p Working groups were defined by challenge selection and I think that helped to group people with the same intentions but I found the following task of idea generation in our group really tough. Our team had a great concept but no use case whereas other teams seemed to have existing projects they had brought to work on and they seemed to find it easier to generate multiple ideas. 

				p The next activity involved swapping ideas with teams working on other challenges for Peer review and I think this was the most valuable part of the process. It really added value to the concepts people had been working on and broadened their scope and perspective. I'm not sure it was a good idea to get teams to submit multiple ideas at this stage. I was reaching information overload at this point and I think this could have been streamlined perhaps by letting the peer review team choose the best of what they'd been provided with and embellishing that.

				p These were all pretty fast paced and I was glad of the break at lunch. 

				p The second part of the day was no less challenging. I found honing our chosen idea just as tricky as the idea generation. Trying to get our team to commit to formulating the idea into something we could pitch was tough because there were lots of conflicting ideas. I felt that debate was fruitful though and sparked other ideas for different projects. It took us a long time to agree on audience, use cases and wireframes but we did push through into something that resembled a pretty strong and well thought out pitch.

				p The final stage was judging from a panel. I felt this went well, everyone had just the right amount of time to speak and get their ideas across, I was just starting to flag when the facilitator announced that had been the last presentation and the hard work was over. 8 hours of solid thinking, debate and discussion is a bit of a mental marathon. I really felt I'd earned the glass of wine they gave me.  

				p I thoroughly enjoyed every second of it. The energy in the room had been overwhelmingly positive all day and that was a real pleasure to be around. I enjoyed the conversations I had after the judging was over because it was a relief to share ideas without having to commit them to paper and also because I felt I was free to talk with the other technologists in the room. I felt like I made a lot of great connections with some really interesting people. I'm also really glad to have met people working in tangential areas in technology and in the creative sector, rather than my immediate industry peers than I come across on a more regular basis. I'm hoping this will lead to areas I can explore to develop my use of technology in a more creative way. I would definitely sign myself up for similar events in the future. 

				p.sub 
					|This article was originally published on the 
					a(href='http://www.headlondon.com' target="_blank") Head London 
					| website