extends portfolio-layout

block content
	div.wrapper.homepage
		div.tesselation
			div.header
				a.logo(href="/") emdeebeebee.com
			nav.navigation
					ul
		
						li
							a.nav-link(href='/#work') Work
						li
							a.nav-link(href='/articles') Articles
						li
							a.nav-link.active(href='/golden_path') Golden path
			div.section.section-intro#intro

				p Golden path