extends portfolio-layout

block content
	div.wrapper.homepage
		div.tesselation
			div.header
				a.logo(href="/") emdeebeebee.com
			nav.navigation
					ul
		
						li
							a.nav-link(href='/#work') Work
						li
							a.nav-link.active(href='/articles') Articles
						li
							a.nav-link(href='/golden_path') Golden path
			div.section.articles

				nav.subnav
					ul
						li
							a.sub-nav-link(href='/articles/2015') 2015
						li
							a.sub-nav-link(href='/articles/2014') 2014
						li
							a.sub-nav-link.active(href='/articles/2013') 2013
						li
							a.sub-nav-link(href='/articles/2012') 2012
						li
							a.sub-nav-link(href='/articles/2011') 2011

				div.article-item
					a.article-thumbnail-link(href="/articles/2013/kinect-pain-reinstalling-libfreenect-kinect-drivers-on-mountain-lion-upgrade") 
						img.article-thumbnail(src="/images/thumb-camuni.png")
						span.article-thumb-hover
					h3.article-title 07 Jul 2013
					p.article-description
						a(href="/articles/2013/kinect-pain-reinstalling-libfreenect-kinect-drivers-on-mountain-lion-upgrade") Kinect pain - Reinstalling Libfreenect Kinect drivers on Mountain Lion upgrade
					
				div.article-item
					a.article-thumbnail-link(href="/articles/2013/microsoft-kinect-and-the-web-browser-enter-zigfu") 
						img.article-thumbnail(src="/images/thumb-camuni.png")
						span.article-thumb-hover
					h3.article-title 01 Jun 2013
					p.article-description
						a(href="/articles/2013/microsoft-kinect-and-the-web-browser-enter-zigfu") Microsoft Kinect and the web browser - enter Zigfu
					
				div.article-item
					a.article-thumbnail-link(href="/articles/2013/microsoft-kinect-and-the-web-browser-how-to-make-it-happen")
						img.article-thumbnail(src="/images/thumb-camuni.png")
						span.article-thumb-hover
					h3.article-title 30 Mar 2013
					p.article-description
						a(href="/articles/2013/microsoft-kinect-and-the-web-browser-how-to-make-it-happen") Microsoft Kinect and the web browser - How to make it happen
					