extends portfolio-layout

block content
	div.wrapper.homepage
		div.tesselation
			div.header
				a.logo(href="/") emdeebeebee.com
			nav.navigation
					ul
		
						li
							a.nav-link(href='/#work') Work
						li
							a.nav-link.active(href='/articles') Articles
						li
							a.nav-link(href='/golden_path') Golden path
			div.section.articles

				nav.subnav
					ul
						li
							a.sub-nav-link(href='/articles/2015') 2015
						li
							a.sub-nav-link(href='/articles/2014') 2014
						li
							a.sub-nav-link(href='/articles/2013') 2013
						li
							a.sub-nav-link.active(href='/articles/2012') 2012
						li
							a.sub-nav-link(href='/articles/2011') 2011

				div.article-item
					a.article-thumbnail-link(href="/articles/2012/full-frontal-2012") 
						img.article-thumbnail(src="/images/thumb-camuni.png")
						span.article-thumb-hover
					h3.article-title 11 Nov 2012
					p.article-description
						a(href="/articles/2012/full-frontal-2012") Full Frontal 2012
					
				div.article-item
					a.article-thumbnail-link(href="/articles/2012/the-joy-of-sass-or-how-i-learned-to-stop-worrying-and-love-the-preprocessor")
						img.article-thumbnail(src="/images/thumb-camuni.png")
						span.article-thumb-hover
					h3.article-title 23 Oct 2012
					p.article-description
						a(href="/articles/2012/the-joy-of-sass-or-how-i-learned-to-stop-worrying-and-love-the-preprocessor") The joy of Sass or "how I learned to stop worrying and love the preprocessor"
					
				div.article-item
					a.article-thumbnail-link(href="/articles/2012/creating-a-responsive-layout-website-part-2") 
						img.article-thumbnail(src="/images/thumb-camuni.png")
						span.article-thumb-hover
					h3.article-title 05 Mar 2012
					p.article-description
						a(href="/articles/2012/creating-a-responsive-layout-website-part-2") Creating a responsive layout website: Part II - Making images work

				div.article-item
					a.article-thumbnail-link(href="/articles/2012/creating-a-responsive-layout-website-part-1") 
						img.article-thumbnail(src="/images/thumb-camuni.png")
						span.article-thumb-hover
					h3.article-title 09 Feb 2012
					p.article-description
						a(href="/articles/2012/creating-a-responsive-layout-website-part-1") Creating a responsive layout website: Part I - Using media queries
					
				div.article-item
					a.article-thumbnail-link(href="/articles/2012/the-incredible-and-amazing-arduino-vote-o-matic") 
						img.article-thumbnail(src="/images/thumb-camuni.png")
						span.article-thumb-hover
					h3.article-title 20 Jan 2012
					p.article-description
						a(href="/articles/2012/the-incredible-and-amazing-arduino-vote-o-matic") The incredible and amazing Arduino Vote-O-Matic
					

					